In [1]:
import pandas as pd

In [2]:
! wget https://s3.amazonaws.com/imcbucket/data/flights/2008.csv

--2022-01-26 08:03:59--  https://s3.amazonaws.com/imcbucket/data/flights/2008.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.236.101
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.236.101|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [binary/octet-stream]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M  45.9MB/s    in 18s

2022-01-26 08:04:18 (37.1 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [3]:
! wc -l 2008.csv

7009729 2008.csv

In [4]:
f = "2008.csv"

In [5]:
num_lines = sum(1 for l in open(f))

In [6]:
size = int(num_lines / 100)

In [7]:
import random
skip_idx = random.sample(range(1, num_lines), num_lines - size)

In [8]:
raw_pd = pd.read_csv(f, skiprows=skip_idx)

In [9]:
#raw_pd = pd.read_csv("2008.csv").limit(700000)

In [10]:
raw_pd.head(5)

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...      19.0            0.0               53.0
1  2008      1           3  ...       NaN            NaN                NaN
2  2008      1           3  ...       0.0            0.0               28.0
3  2008      1           3  ...       0.0            0.0               31.0
4  2008      1           3  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [11]:
raw_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70096 entries, 0 to 70095
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70096 non-null  int64
 1   Month              70096 non-null  int64
 2   DayofMonth         70096 non-null  int64
 3   DayOfWeek          70096 non-null  int64
 4   DepTime            68712 non-null  float64
 5   CRSDepTime         70096 non-null  int64
 6   ArrTime            68568 non-null  float64
 7   CRSArrTime         70096 non-null  int64
 8   UniqueCarrier      70096 non-null  object
 9   FlightNum          70096 non-null  int64
 10  TailNum            69251 non-null  object
 11  ActualElapsedTime  68531 non-null  float64
 12  CRSElapsedTime     70089 non-null  float64
 13  AirTime            68531 non-null  float64
 14  ArrDelay           68531 non-null  float64
 15  DepDelay           68712 non-null  float64
 16  Origin             70096 non-null  object
 17  Dest               70096 non-null  object
 18  Distance           70096 non-null  int64
 19  TaxiIn             68568 non-null  float64
 20  TaxiOut            68708 non-null  float64
 21  Cancelled          70096 non-null  int64
 22  CancellationCode   1391 non-null   object
 23  Diverted           70096 non-null  int64
 24  CarrierDelay       15196 non-null  float64
 25  WeatherDelay       15196 non-null  float64
 26  NASDelay           15196 non-null  float64
 27  SecurityDelay      15196 non-null  float64
 28  LateAircraftDelay  15196 non-null  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 15.5+ MB

In [12]:
raw_pd.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime               1384
CRSDepTime               0
ArrTime               1528
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                845
ActualElapsedTime     1565
CRSElapsedTime           7
AirTime               1565
ArrDelay              1565
DepDelay              1384
Origin                   0
Dest                     0
Distance                 0
TaxiIn                1528
TaxiOut               1388
Cancelled                0
CancellationCode     68705
Diverted                 0
CarrierDelay         54900
WeatherDelay         54900
NASDelay             54900
SecurityDelay        54900
LateAircraftDelay    54900
dtype: int64

In [13]:
nullCol_series = raw_pd.isnull().sum()

In [14]:
notNull_list = list(nullCol_series[nullCol_series == 0].index)

In [15]:
notNull_list

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'CRSDepTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'Origin',
 'Dest',
 'Distance',
 'Cancelled',
 'Diverted']

In [16]:
requiredCol_list = ['TaxiIn','TaxiOut','ArrDelay']

In [17]:
selectedCol_list = notNull_list + requiredCol_list

In [18]:
noNull_pd = raw_pd.loc[:,selectedCol_list].dropna()

In [19]:
noNull_pd.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
Origin           0
Dest             0
Distance         0
Cancelled        0
Diverted         0
TaxiIn           0
TaxiOut          0
ArrDelay         0
dtype: int64

In [20]:
noNull_pd.describe()

          Year         Month  ...       TaxiOut      ArrDelay
count  68531.0  68531.000000  ...  68531.000000  68531.000000
mean    2008.0      6.374021  ...     16.475916      7.959172
std        0.0      3.395362  ...     11.368084     37.638059
min     2008.0      1.000000  ...      1.000000    -76.000000
25%     2008.0      3.000000  ...     10.000000    -10.000000
50%     2008.0      6.000000  ...     14.000000     -2.000000
75%     2008.0      9.000000  ...     19.000000     12.000000
max     2008.0     12.000000  ...    301.000000   1017.000000

[8 rows x 13 columns]

In [21]:
noNull_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68531 entries, 0 to 70095
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           68531 non-null  int64
 1   Month          68531 non-null  int64
 2   DayofMonth     68531 non-null  int64
 3   DayOfWeek      68531 non-null  int64
 4   CRSDepTime     68531 non-null  int64
 5   CRSArrTime     68531 non-null  int64
 6   UniqueCarrier  68531 non-null  object
 7   FlightNum      68531 non-null  int64
 8   Origin         68531 non-null  object
 9   Dest           68531 non-null  object
 10  Distance       68531 non-null  int64
 11  Cancelled      68531 non-null  int64
 12  Diverted       68531 non-null  int64
 13  TaxiIn         68531 non-null  float64
 14  TaxiOut        68531 non-null  float64
 15  ArrDelay       68531 non-null  float64
dtypes: float64(3), int64(10), object(3)
memory usage: 8.9+ MB

In [22]:
candidatedFeatures_pd = noNull_pd

In [23]:
import pandas as pd
from seaborn import load_dataset
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

In [24]:
train_df = candidatedFeatures_pd.sample(frac=0.8,random_state=123)

In [25]:
test_df = candidatedFeatures_pd.drop(train_df.index)

In [26]:
train_df.count()

Year             54825
Month            54825
DayofMonth       54825
DayOfWeek        54825
CRSDepTime       54825
CRSArrTime       54825
UniqueCarrier    54825
FlightNum        54825
Origin           54825
Dest             54825
Distance         54825
Cancelled        54825
Diverted         54825
TaxiIn           54825
TaxiOut          54825
ArrDelay         54825
dtype: int64

In [27]:
test_df.count()

Year             13706
Month            13706
DayofMonth       13706
DayOfWeek        13706
CRSDepTime       13706
CRSArrTime       13706
UniqueCarrier    13706
FlightNum        13706
Origin           13706
Dest             13706
Distance         13706
Cancelled        13706
Diverted         13706
TaxiIn           13706
TaxiOut          13706
ArrDelay         13706
dtype: int64

In [28]:
train_labels = train_df.filter(['ArrDelay'])
train_df = train_df.loc[:, train_df.columns != 'ArrDelay']

In [29]:
type(train_labels)

pandas.core.frame.DataFrame

In [30]:
test_labels = test_df.filter(['ArrDelay'])
test_df = test_df.loc[:, test_df.columns != 'ArrDelay']

In [31]:
X_train = train_df
X_train = train_df
y_train = train_labels
y_test = test_labels

In [32]:
categorical = list(X_train.select_dtypes('object').columns)
print(f"Categorical columns are: {categorical}")

numerical = list(X_train.select_dtypes('number').columns)
print(f"Numerical columns are: {numerical}")

Categorical columns are: ['UniqueCarrier', 'Origin', 'Dest']
Numerical columns are: ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime', 'FlightNum', 'Distance', 'Cancelled', 'Diverted', 'TaxiIn', 'TaxiOut']

In [33]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz, DecisionTreeRegressor
from sklearn import tree
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [34]:
# Define custom transformer
class ColumnSelector(BaseEstimator, TransformerMixin):
    """Select only specified columns."""
    def __init__(self, columns):
        self.columns = columns
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[self.columns]

# Define categorical pipeline
cat_pipe = Pipeline([('selector', ColumnSelector(categorical)),
                     ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
                     ('encoder', OneHotEncoder(handle_unknown='ignore', sparse=False))])

# Define numerical pipeline
num_pipe = Pipeline([('selector', ColumnSelector(numerical))
                     #('imputer', SimpleImputer(strategy='median')),
                     #('scaler', MinMaxScaler())
                    ])

# Combine categorical and numerical pipeline
preprocessor = FeatureUnion(transformer_list=[('cat', cat_pipe),
                                              ('num', num_pipe)])

# Model Training
pipe = Pipeline(steps=[('preprocessor', preprocessor),
              ('model', DecisionTreeRegressor(max_depth=None))])
pipeline_model = pipe.fit(X_train, y_train)

In [35]:
#