In [1]:
import pandas as pd

In [2]:
! wget https://s3.amazonaws.com/imcbucket/data/flights/2008.csv

--2022-01-26 09:55:06--  https://s3.amazonaws.com/imcbucket/data/flights/2008.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.170.64
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.170.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689413344 (657M) [binary/octet-stream]
Saving to: ‘2008.csv’

2008.csv            100%[===================>] 657.48M  38.7MB/s    in 17s

2022-01-26 09:55:23 (38.0 MB/s) - ‘2008.csv’ saved [689413344/689413344]

In [3]:
! wc -l 2008.csv

7009729 2008.csv

In [4]:
f = "2008.csv"

In [5]:
num_lines = sum(1 for l in open(f))

In [6]:
size = int(num_lines / 100)

In [7]:
import random
skip_idx = random.sample(range(1, num_lines), num_lines - size)

In [8]:
raw_pd = pd.read_csv(f, skiprows=skip_idx)

In [9]:
#raw_pd = pd.read_csv("2008.csv").limit(700000)

In [10]:
raw_pd.head(5)

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...       NaN            NaN                NaN
1  2008      1           3  ...       0.0            0.0               42.0
2  2008      1           3  ...       NaN            NaN                NaN
3  2008      1           3  ...       6.0            0.0               15.0
4  2008      1           3  ...      67.0            0.0                9.0

[5 rows x 29 columns]

In [11]:
raw_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70096 entries, 0 to 70095
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70096 non-null  int64
 1   Month              70096 non-null  int64
 2   DayofMonth         70096 non-null  int64
 3   DayOfWeek          70096 non-null  int64
 4   DepTime            68656 non-null  float64
 5   CRSDepTime         70096 non-null  int64
 6   ArrTime            68493 non-null  float64
 7   CRSArrTime         70096 non-null  int64
 8   UniqueCarrier      70096 non-null  object
 9   FlightNum          70096 non-null  int64
 10  TailNum            69241 non-null  object
 11  ActualElapsedTime  68461 non-null  float64
 12  CRSElapsedTime     70083 non-null  float64
 13  AirTime            68461 non-null  float64
 14  ArrDelay           68461 non-null  float64
 15  DepDelay           68656 non-null  float64
 16  Origin             70096 non-null  object
 17  Dest               70096 non-null  object
 18  Distance           70096 non-null  int64
 19  TaxiIn             68493 non-null  float64
 20  TaxiOut            68648 non-null  float64
 21  Cancelled          70096 non-null  int64
 22  CancellationCode   1452 non-null   object
 23  Diverted           70096 non-null  int64
 24  CarrierDelay       15259 non-null  float64
 25  WeatherDelay       15259 non-null  float64
 26  NASDelay           15259 non-null  float64
 27  SecurityDelay      15259 non-null  float64
 28  LateAircraftDelay  15259 non-null  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 15.5+ MB

In [12]:
raw_pd.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime               1440
CRSDepTime               0
ArrTime               1603
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                855
ActualElapsedTime     1635
CRSElapsedTime          13
AirTime               1635
ArrDelay              1635
DepDelay              1440
Origin                   0
Dest                     0
Distance                 0
TaxiIn                1603
TaxiOut               1448
Cancelled                0
CancellationCode     68644
Diverted                 0
CarrierDelay         54837
WeatherDelay         54837
NASDelay             54837
SecurityDelay        54837
LateAircraftDelay    54837
dtype: int64

In [13]:
nullCol_series = raw_pd.isnull().sum()

In [14]:
notNull_list = list(nullCol_series[nullCol_series == 0].index)

In [15]:
notNull_list

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'CRSDepTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'Origin',
 'Dest',
 'Distance',
 'Cancelled',
 'Diverted']

In [16]:
requiredCol_list = ['TaxiIn','TaxiOut','ArrDelay']

In [17]:
selectedCol_list = notNull_list + requiredCol_list

In [18]:
noNull_pd = raw_pd.loc[:,selectedCol_list].dropna()

In [19]:
noNull_pd.isnull().sum()

Year             0
Month            0
DayofMonth       0
DayOfWeek        0
CRSDepTime       0
CRSArrTime       0
UniqueCarrier    0
FlightNum        0
Origin           0
Dest             0
Distance         0
Cancelled        0
Diverted         0
TaxiIn           0
TaxiOut          0
ArrDelay         0
dtype: int64

In [20]:
noNull_pd.describe()

          Year         Month  ...       TaxiOut      ArrDelay
count  68461.0  68461.000000  ...  68461.000000  68461.000000
mean    2008.0      6.409343  ...     16.491068      8.190284
std        0.0      3.390899  ...     11.335488     38.211274
min     2008.0      1.000000  ...      1.000000    -74.000000
25%     2008.0      3.000000  ...     10.000000    -10.000000
50%     2008.0      6.000000  ...     14.000000     -2.000000
75%     2008.0      9.000000  ...     19.000000     12.000000
max     2008.0     12.000000  ...    289.000000   1057.000000

[8 rows x 13 columns]

In [21]:
noNull_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68461 entries, 0 to 70095
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           68461 non-null  int64
 1   Month          68461 non-null  int64
 2   DayofMonth     68461 non-null  int64
 3   DayOfWeek      68461 non-null  int64
 4   CRSDepTime     68461 non-null  int64
 5   CRSArrTime     68461 non-null  int64
 6   UniqueCarrier  68461 non-null  object
 7   FlightNum      68461 non-null  int64
 8   Origin         68461 non-null  object
 9   Dest           68461 non-null  object
 10  Distance       68461 non-null  int64
 11  Cancelled      68461 non-null  int64
 12  Diverted       68461 non-null  int64
 13  TaxiIn         68461 non-null  float64
 14  TaxiOut        68461 non-null  float64
 15  ArrDelay       68461 non-null  float64
dtypes: float64(3), int64(10), object(3)
memory usage: 8.9+ MB

In [22]:
candidatedFeatures_pd = noNull_pd

In [23]:
import pandas as pd
from seaborn import load_dataset
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

In [24]:
train_df = candidatedFeatures_pd.sample(frac=0.8,random_state=123)

In [25]:
test_df = candidatedFeatures_pd.drop(train_df.index)

In [26]:
train_df.count()

Year             54769
Month            54769
DayofMonth       54769
DayOfWeek        54769
CRSDepTime       54769
CRSArrTime       54769
UniqueCarrier    54769
FlightNum        54769
Origin           54769
Dest             54769
Distance         54769
Cancelled        54769
Diverted         54769
TaxiIn           54769
TaxiOut          54769
ArrDelay         54769
dtype: int64

In [27]:
test_df.count()

Year             13692
Month            13692
DayofMonth       13692
DayOfWeek        13692
CRSDepTime       13692
CRSArrTime       13692
UniqueCarrier    13692
FlightNum        13692
Origin           13692
Dest             13692
Distance         13692
Cancelled        13692
Diverted         13692
TaxiIn           13692
TaxiOut          13692
ArrDelay         13692
dtype: int64

In [28]:
train_labels = train_df.filter(['ArrDelay'])
train_df = train_df.loc[:, train_df.columns != 'ArrDelay']

In [29]:
type(train_labels)

pandas.core.frame.DataFrame

In [30]:
test_labels = test_df.filter(['ArrDelay'])
test_df = test_df.loc[:, test_df.columns != 'ArrDelay']

In [31]:
X_train = train_df
X_train = train_df
y_train = train_labels
y_test = test_labels

In [32]:
categorical = list(X_train.select_dtypes('object').columns)
print(f"Categorical columns are: {categorical}")

numerical = list(X_train.select_dtypes('number').columns)
print(f"Numerical columns are: {numerical}")

Categorical columns are: ['UniqueCarrier', 'Origin', 'Dest']
Numerical columns are: ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'CRSDepTime', 'CRSArrTime', 'FlightNum', 'Distance', 'Cancelled', 'Diverted', 'TaxiIn', 'TaxiOut']

In [33]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz, DecisionTreeRegressor
from sklearn import tree
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [34]:
# Define custom transformer
class ColumnSelector(BaseEstimator, TransformerMixin):
    """Select only specified columns."""
    def __init__(self, columns):
        self.columns = columns
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[self.columns]

# Define categorical pipeline
cat_pipe = Pipeline([('selector', ColumnSelector(categorical)),
                     ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
                     ('encoder', OneHotEncoder(handle_unknown='ignore', sparse=False))])

# Define numerical pipeline
num_pipe = Pipeline([('selector', ColumnSelector(numerical))
                     #('imputer', SimpleImputer(strategy='median')),
                     #('scaler', MinMaxScaler())
                    ])

# Combine categorical and numerical pipeline
preprocessor = FeatureUnion(transformer_list=[('cat', cat_pipe),
                                              ('num', num_pipe)])

# Model Training
pipe = Pipeline(steps=[('preprocessor', preprocessor),
              ('model', DecisionTreeRegressor(max_depth=None))])
pipeline_model = pipe.fit(X_train, y_train)

In [35]:
#คำอธิบาย

In [36]:
from sklearn.preprocessing import StandardScaler

In [39]:
type(StandardScaler())

sklearn.preprocessing._data.StandardScaler

In [40]:
x = [[0,15],[1,-10]]

In [41]:
type(x)

list

In [42]:
scaler_transformer = StandardScaler()

In [45]:
X = scaler_transformer.fit(x).transform(x)

In [46]:
X

array([[-1.,  1.],
       [ 1., -1.]])

In [50]:
y = [0,1]

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
rfc = RandomForestClassifier()

In [52]:
rfc.fit(X,y).predict([[10,100]])

array([1])